SESSION_ID=
OWNER_NUMBER=212617503205
OWNER_NAME=Evil Imranos
BOT_NAME=Evil Imranos Bot
PACKNAME=Evil Imranos Bot
AUTHOR=‎Evil Imranos
COMMAND_MODE=public
STATUS_REACT_EMOJI=✅
AUTO_STATUS_REACT=true
AUTO_TYPING=false
AUTO_RECORDING=false
AUTO_BIO=false
AUTO_BIO_TEXT=GODSZEAL XMD Active Now
GIPHY_API_KEY=qnl7ssQChTdPjsKta2Ax2LMaGXz303tq
MONGO_URI=
MONGO_DB_NAME=gods_zeal_xmd
MONGO_ENCRYPTION_KEY=
PAIR_API_BASE=
DEPLOYMENT_HOST=
